//page-header
.bg-home {
  // background-color: #F8F8F8;
  background-color: #f1f1f1;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.page-header {
  margin-top: 10rem;
}

.page-header h1,
.page-header h5 {
  color: #333333;
  font-weight: 800 !important
}

.page-header h1 {
  font-size: 2.6rem
}

//about
#about {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

#about h3 {
  color: #333333;
  font-weight: 800 !important
}

.header-center {
  height: 1px;
  background: #d6d6d6;
  border-bottom: #d6d6d6 solid 1px;
  margin-bottom: 3.2rem;
  position: relative;
}

.header-center h3 {
  background: white;
  position: absolute;
  top: -0.8rem;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  display: block;
  color: #757575;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  padding: 0 !important;
}

//skills
#skills {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

//education
#education {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

//work
#work {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}


//experience
#experience {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

//contact
#contact {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}


@media (min-width: 300px) {
  #header .img-header {
    width: 330px;
    height: 330px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #header .img-header {
    width: 350px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #header .img-header {
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #header .img-header {
    width: 450px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  #header .img-header {
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #about .img-about {
    width: 400px !important;
    height: 400px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

}
