<div data-bs-spy="scroll" data-bs-target="#navbarToggler" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <header id="header" class="bg-home color-overlay d-flex">
    <div class="container page-header">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
          <h1>Hi There,</h1>
          <h1>I'm Chanchit Lerdwongsuwan</h1>
          <h5 style="color:rgb(218, 190, 35);">I am a Software Engineer</h5>
          <button type="button" class="btn btn-outline-secondary mt-3">
            <a class="nav-link" href="#about">About Me</a>
          </button>
        </div>
        <div class="col-md-6">
          <img class="rounded-circle img-header mx-auto d-block img-fluid" src="../../../assets/images/My-Picture.jpg">
        </div>
      </div>
    </div>
  </header>
  <section id="about">
    <div class="container">
      <div class="row pt-3 section-about">
        <div class="col-md-12">
          <div class="header-center">
            <h3>About Me</h3>
          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-6">
          <img class="rounded img-about mx-auto d-block img-fluid" src="../../../assets/images/My-Picture.jpg">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h3>Who I am?</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6>Full Stack Developer</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6 class="pt-2 pb-2">Hey, My name is Chanchit Lerdwongsuwan. You can call me Oat. I am a Full-Stack developer based in Bangkok, Thailand. I have experience of building Web Applications with Angular / Dontnet and some cool other libraries and frameworks. I am very passionate about improving my coding skills and developing applications and websites. And I hope we can work together on a project. Thank you.</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-outline-secondary mt-3">
                <a class="nav-link" href="#skills">My Skills</a>
              </button>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12">
              <h6><strong>Age:</strong> 27</h6>
            </div>
          </div> -->
          
        </div>
        
      </div>
    </div>
  </section>
  <section id="skills">
    <div class="container">
      <div class="row pt-3 section-skills">
        <div class="col-md-12">
          <div class="header-center">
            <h3>Skills</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="education">
    <div class="container">
      <div class="row pt-3 section-education">
        <div class="col-md-12">
          <div class="header-center">
            <h3>Education</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="work">
    <div class="container">
      <div class="row pt-3 section-work">
        <div class="col-md-12">
          <div class="header-center">
            <h3>Work</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="experience">
    <div class="container">
      <div class="row pt-3 section-experience">
        <div class="col-md-12">
          <div class="header-center">
            <h3>Experience</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container">
      <div class="row pt-3 section-contact">
        <div class="col-md-12">
          <div class="header-center">
            <h3>Contact</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
