<div data-bs-spy="scroll" data-bs-target="#navbarToggler" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <header id="header" class="bg-home color-overlay d-flex">
    <div class="container page-header">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
          <h1>Hi,</h1>
          <h1>I'm Chanchit Lerdwongsuwan</h1>

          <div class="row"> 
            <div class="whitespace">
                <h5 style="color:#333333; display: inline;">I Am Into </h5>
            </div>
          </div>

          <button type="button" class="btn btn-grad mt-3">
            <a class="nav-link" href="#about">About Me</a>
          </button>
        </div>
        <div class="col-md-6">
          <img class="img-header mx-auto d-block img-fluid" src="../../../assets/images/My-FIrst-Logo.svg">
        </div>
      </div>
    </div>
  </header>
  <section id="about">
    <div class="container">
      <div class="row pt-3 section-about">
        <div class="col-md-12">
          <div class="header-center">
            <h3>About Me</h3>
          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-6">
          <img class="rounded-circle img-about mx-auto d-block img-fluid" src="../../../assets/images/My-Picture.jpg">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h3>Who I am?</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6>Full Stack Developer</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6 class="pt-2 pb-2">Hi, My name is Chanchit Lerdwongsuwan. You can call me Oat. I am 27 years old. I am
                a Full-Stack
                developer based in Bangkok, Thailand. I have experience of building Web Applications with Angular /
                Dotnet and some cool other libraries and frameworks. I am very passionate about improving my coding
                skills and developing applications and websites. And I hope we can work together on a project. Thank
                you.</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <button type="button" class="btn btn-grad mt-3" (click)="downloadMyResume()">
                <a class="nav-link">My Resume</a>
              </button>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12">
              <h6><strong>Age:</strong> 27</h6>
            </div>
          </div> -->

        </div>

      </div>
    </div>
  </section>
  <section id="skills">
    <div class="container">
      <div class="row pt-3 section-skills">
        <div class="col-md-12">
          <div class="header-center">
            <h3>Skills</h3>
          </div>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-md-12 text-center">
          <h5>Technology I've been working with recently.</h5>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/net-core-seeklogo.com.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-angularjs.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-html-5.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-css3.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-javascript.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-typescript.svg" style="width: 80px; height: 80px;">
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-nodejs.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-redux.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-material-ui.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-bootstrap.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-microsoft-sql-server.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-postgresql.svg" style="width: 80px; height: 80px;">
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-github.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-gitlab.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-azure.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-google-cloud.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-visual-studio-code-2019.svg" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-2 col-sm-4 col-6 text-center">
          <img src="../../../assets/images/icons8-visual-studio.svg" style="width: 80px; height: 80px;">
        </div>
      </div>
      <!-- <div class="row pt-5">
        <div class="d-grid gap-2 col-2 mx-auto">
          <button type="button" class="btn btn-outline-secondary mt-3">
            <a class="nav-link" href="#education">My Education</a>
          </button>
        </div>
      </div> -->
    </div>
  </section>
  <section id="education" class="mb-4">
    <div class="container">
      <div class="row pt-3 section-education">
        <div class="col-md-12">
          <div class="header-center">
            <h3>Education</h3>
          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-12">
          <div class="card " style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div class="row">
              <div class="col-md-4">
                <img src="../../../assets/images/building-12.webp" class="img-fluid img-education">
              </div>
              <div class="col-md-8">
                <div class="container pt-2">
                  <h3 class="card-title">Siam University</h3>
                  <h5><strong>Faculty of Science:</strong> Computer Sciences</h5>
                  <h5><strong>Degree:</strong> Bachelor's degree</h5>
                  <h5><strong>Grade:</strong> 2.8</h5>
                  <h5 class="text-success"><strong>2014-2018 | Completed</strong></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- <section id="work">
    <div class="container">
      <div class="row pt-3 section-work">
        <div class="col-md-12">
          <div class="header-center">
            <h3>Work</h3>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section id="experience">
    <div class="container">
      <div class="row pt-3 section-experience">
        <div class="col-md-12">
          <div class="header-center">
            <h3>Experience</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="timeline">
            <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
              <div class="timeline__event__icon ">
                <i class="fa-solid fa-briefcase"></i>
              </div>
              <div class="timeline__event__date" style="color: white;">
                Oct 2021 - Present<br>
                1 yr
              </div>
              <div class="timeline__event__content ">
                <div class="timeline__event__title">
                  IT One
                </div>
                <div class="timeline__event__description">
                  <p>Develop sites and web-based solutions, both front end and back end [.NET Core 3.1, angular],
                    Responsible for other tasks as assigned,
                    Attended meetings or discussion sessions of software team to Performed analysis, design structure
                    project and development of the application according to the user requirements</p>
                </div>
              </div>
            </div>
            <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
              <div class="timeline__event__icon">
                <i class="fa-solid fa-briefcase"></i>
              </div>
              <div class="timeline__event__date" style="color: white;">
                Jul 2021 - Sep 2021<br>
                3 mos
              </div>
              <div class="timeline__event__content">
                <div class="timeline__event__title">
                  Buzzebees
                </div>
                <div class="timeline__event__description">
                  <p>Develop backend side of project Money tree using .NET Core 5.1,
                    Analyzed requirements and designed database,
                    Responsible for other tasks as assigned</p>
                </div>
              </div>
            </div>
            <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
              <div class="timeline__event__icon">
                <i class="fa-solid fa-briefcase"></i>
              </div>
              <div class="timeline__event__date" style="color: white;">
                Jul 2019 - Jul 2021<br>
                2 yrs 1 mo
              </div>
              <div class="timeline__event__content">
                <div class="timeline__event__title">
                  Celestica
                </div>
                <div class="timeline__event__description">
                  <p>Used C#,.Net Core 3.1, JavaScript and Bootstrap 4 to design and develop sites and web-based
                    solutions,
                    both front end and back end,
                    Design ASP.NET application for linkage to Azure SQL database,
                    Attended meetings or discussion sessions of software team to Performed analysis, design structure
                    project and
                    development of the application according to the user requirements,
                    Attends monthly status meetings with the development, functional and project management teams to
                    discuss status,
                    project timelines and testing strategies</p>
                </div>

              </div>
            </div>
            <div class="timeline__event animated fadeInUp timeline__event--type4">
              <div class="timeline__event__icon">
                <i class="fa-solid fa-briefcase"></i>
              </div>
              <div class="timeline__event__date" style="color: white;">
                Jun 2018 - Jul 2019 <br>
                1 yr 2 mos
              </div>
              <div class="timeline__event__content">
                <div class="timeline__event__title">
                  2Fellows
                </div>
                <div class="timeline__event__description">
                  <p>Used C#,.Net Framework 4.7, JavaScript and Bootstrap 4 to design and develop sites and web-based
                    solutions,
                    both front end and back end,
                    Trouble-shot and fixed any threads and bugs,
                    Communicated with clients to provide knowledge, expertise, and support, ensuring that their
                    requirements were fully met,
                    Design ASP.NET application for linkage to SQL databases,
                    Attended client meetings or discussion sessions of software team to understand the requested new
                    functionalities</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container" style="color:white">
      <div class="row pt-3 section-contact">
        <div class="col-md-12 text-center">
          <h3>GET IN TOUCH</h3>
        </div>
      </div>
      <hr class=" border-top border-secondary">

      <div class="row ">
        <div class="col-md-4 mb-3">
          <h3>Chanchit Portfolio</h3>
          <label>Thank you for visiting my personal portfolio website. Connect with me over socials.</label>
        </div>
        <div class="col-md-4 mb-3">
          <h3>Quick Links</h3>
          <div class="row">
            <div class="col-md-6 quick-link-hover">
              <a class="quick-link-hover pointer" href="#header">
                <i class="fa-solid fa-circle-arrow-up  "></i><label class="ps-3 pointer">Home</label><br>
              </a>
            </div>
            <div class="col-md-6 quick-link-hover">
              <a class="quick-link-hover pointer" href="#education">
                <i class="fa-solid fa-circle-arrow-up pointer"></i><label class="ps-3 pointer">Education</label>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 ">
              <a class="quick-link-hover pointer" href="#about">
                <i class="fa-solid fa-circle-arrow-up pointer"></i><label class="ps-3 pointer">About</label><br>
              </a>

            </div>
            <div class="col-md-6 quick-link-hover">

              <a class="quick-link-hover pointer" href="#experience">
                <i class="fa-solid fa-circle-arrow-up pointer"></i><label class="ps-3 pointer">Experience</label>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 quick-link-hover">
              <a class="quick-link-hover pointer" href="#skills">
                <i class="fa-solid fa-circle-arrow-up pointer"></i><label class="ps-3 pointer">Skills</label>
              </a>

            </div>
            <div class="col-md-6">
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <h3>Find me on:</h3>
          <i class="fa-solid fa-phone text-warning"></i><label class="ps-3">063-313-7551</label><br>
          <i class="fa-solid fa-envelope text-warning"></i><label class="ps-3">chanchit.ler01@gmail.com</label><br>

          <div class="mt-4">
            <button type="button" class="btn btn-light btn-circle me-3 pointer" (click)="linkToSocial('linkedin')"><i
                class="fa-brands fa-linkedin text-primary fa-xl"></i></button>
            <button type="button" class="btn btn-light btn-circle me-3 pointer" (click)="linkToSocial('github')"><i
                class="fa-brands fa-github fa-xl"></i></button>
            <button type="button" class="btn btn-light btn-circle me-3 pointer" (click)="linkToSocial('facebook')"><i
                class="fa-brands fa-facebook text-primary fa-xl"></i></button>
            <button type="button" class="btn btn-light btn-circle me-3 pointer" (click)="linkToSocial('line')"><i
                class="fa-brands fa-line text-success fa-xl"></i></button>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>
