//page-header
.bg-home {
  // background-color: #F8F8F8;
  background-color: #f1f1f1;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.page-header {
  margin-top: 10rem;
}

.page-header h1,
.page-header h5 {
  color: #333333;
  font-weight: 800 !important
}

.page-header h1 {
  font-size: 2.6rem
}

//about
#about {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

#about h3 {
  color: #333333;
  font-weight: 800 !important
}

.header-center {
  height: 1px;
  background: #d6d6d6;
  border-bottom: #d6d6d6 solid 1px;
  margin-bottom: 3.2rem;
  position: relative;
}

.header-center h3 {
  background: white;
  position: absolute;
  top: -0.8rem;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  text-align: center;
  display: block;
  color: #757575;
  text-transform: uppercase;
  font-size: 25px !important;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  padding: 0 !important;
}

//skills
#skills {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}


#skills h3 {
  color: #333333;
  font-weight: 800 !important
}

//education
#education {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

#education h3 {
  color: #333333;
  font-weight: 800 !important
}

.img-education {
  width: 400px;
  height: 260px;
  border-radius: 5px 0 0 5px
}

//work
#work {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}


//experience
#experience {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

$content-width: calc(50vw - 84px);
$margin: 20px;
$spacing: 20px;
$bdrs: 6px;
$circle-size: 40px;
$icon-size: 32px;
$bdrs-icon: 100%;

$color1: #da5da6;
$color2: #eb94e1;
$color3: #ffffff;

$color4: #ce4061;
$color5: #cc5f78;
$color6: #ffffff;

$color7: #f5b431;
$color8: #f3be54;
$color9: #ffffff;

$color10: #c93360;
$color11: #c9486f;
$color12: #ffffff;


$color20: #000000;

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background: #f6f9fc;
  font-family: "Open Sans", sans-serif;
  color: #525f7f;
}

h2 {
  margin: 5%;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: $margin auto;
  position: relative;
  // z-index: 1000 !important;

  &__event {
    margin-bottom: $spacing;
    position: relative;
    display: flex;
    margin: $spacing 0;
    border-radius: $bdrs;
    align-self: center;
    width: 65vw;

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;

      .timeline__event__date {
        border-radius: 0 $bdrs $bdrs 0;
      }

      .timeline__event__content {
        border-radius: $bdrs 0 0 $bdrs;
      }

      .timeline__event__icon {
        &:before {
          content: "";
          width: 2px;
          height: 100%;
          background: $color2;
          position: absolute;
          top: 0%;
          left: 50%;
          right: auto;
          z-index: -1;
          transform: translateX(-50%);
          animation: fillTop 1.5s forwards 1.5s ease-in-out;
        }

        &:after {
          content: "";
          width: 100%;
          height: 2px;
          background: $color2;
          position: absolute;
          right: 0;
          z-index: -1;
          top: 50%;
          left: auto;
          transform: translateY(-50%);
          animation: fillLeft 1.5s forwards 1.5s ease-in-out;
        }
      }
    }

    &__title {
      font-size: 1.2rem;
      line-height: 1.4;
      text-transform: uppercase;

      font-weight: 600;
      letter-spacing: 1.5px;
    }

    &__content {
      padding: $spacing;
      box-shadow: 0 7px 30px -12px rgb(50 50 93 / 25%), 0 18px 36px -18px rgb(0 0 0 / 30%), 0 -12px 36px -8px rgb(0 0 0 / 3%);
      background: #fff;
      width: $content-width;
      border-radius: 0 $bdrs $bdrs 0;
    }

    &__date {
      color: $color2;
      font-size: 1.5rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 0 $spacing;
      border-radius: $bdrs 0 0 $bdrs;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacing;
      align-self: center;
      margin: 0 $spacing;
      background: $color2;
      border-radius: $bdrs-icon;
      width: $circle-size;
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      padding: 40px;
      height: $circle-size;
      position: relative;

      i {
        font-size: $icon-size;
      }

      &:before {
        content: "";
        width: 2px;
        height: 100%;
        background: $color2;
        position: absolute;
        top: 0%;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        animation: fillTop 1.5s forwards 1.5s ease-in-out;
      }

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background: $color2;
        position: absolute;
        left: 0%;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        animation: fillLeftOdd 1.5s forwards 1.5s ease-in-out;
      }
    }

    &__description {
      flex-basis: 60%;
    }

    &--type1 {
      &:after {
        background: $color10;
      }

      .timeline__event__date {
        color: $color11;
        background: $color10;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {

          &:before,
          &:after {
            background: $color10;
          }
        }
      }

      //circle
      .timeline__event__icon {
        background: $color11;
        color: $color12;

        &:before,
        &:after {
          background: $color11;
        }
      }

      .timeline__event__title {
        color: $color10;
      }

      .timeline__event__title {}
    }

    &--type2 {
      &:after {
        background: $color7;
      }

      .timeline__event__date {
        color: $color8;
        background: $color7;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {

          &:before,
          &:after {
            background: $color8;
          }
        }
      }

      .timeline__event__icon {
        background: $color8;
        color: $color9;

        &:before,
        &:after {
          background: $color8;
        }
      }

      .timeline__event__title {
        color: $color7;
      }

      .timeline__event__title {}
    }

    &--type3 {
      &:after {
        background: $color4;
      }

      .timeline__event__date {
        color: $color5;
        background-color: $color4;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {

          &:before,
          &:after {
            background: $color5;
          }
        }
      }

      .timeline__event__icon {
        background: $color5;
        color: $color6;

        &:before,
        &:after {
          background: $color5;
        }
      }

      .timeline__event__title {
        color: $color4;
      }

      .timeline__event__title {}
    }

    &--type4 {
      &:after {
        background: $color1;
      }

      .timeline__event__date {
        color: $color2;
        background: $color1;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {

          &:before,
          &:after {
            background: $color1;
          }
        }
      }

      //circle
      .timeline__event__icon {
        background: $color2;
        color: $color3;

        &:before,
        &:after {
          background: $color2;
        }
      }

      .timeline__event__title {
        color: $color1;
      }

      .timeline__event__title {}
    }

    &:last-child {
      .timeline__event__icon {
        &:before {
          content: none;
        }
      }
    }
  }
}

@media (max-width: 886px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;

    &__content {
      width: 100%;
    }

    &__icon {
      border-radius: $bdrs $bdrs 0 0;
      width: 100%;
      margin: 0;
      box-shadow: none;

      &:before,
      &:after {
        display: none;
      }
    }

    &__date {
      border-radius: 0;
      padding: $spacing;
    }

    &:nth-child(2n + 1) {
      flex-direction: column;
      align-self: center;

      .timeline__event__date {
        border-radius: 0;
        padding: $spacing;
      }

      .timeline__event__icon {
        border-radius: $bdrs $bdrs 0 0;
        margin: 0;
      }
    }
  }
}

@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}



//contact
#contact {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}


@media (min-width: 300px) {
  #header .img-header {
    width: 330px;
    height: 330px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #education .img-education {
    width: 550px !important;
    height: 300px;
    border-radius: 5px 5px 0 0
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #education .img-education {
    width: 550px !important;
    height: 350px;
    border-radius: 5px 5px 0 0
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #header .img-header {
    width: 350px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #education .img-education {
    height: 200px;
    border-radius: 5px 0 0 5px
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #header .img-header {
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #education .img-education {
    height: 300px;
    border-radius: 5px 0 0 5px
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #header .img-header {
    width: 450px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  #header .img-header {
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #about .img-about {
    width: 400px !important;
    height: 400px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

}
