@font-face {
  font-family: FrankRuhlLibre-Bold;
  src: url(../../../assets/fonts/FrankRuhlLibre-Bold.ttf);
}

a.navbar-brand {
  font-family: "FrankRuhlLibre-Bold";
  font-size: 30px;
  color: #333333;
}

a.navbar-brand:hover {
  font-family: "FrankRuhlLibre-Bold";
  font-size: 30px;
  color: #333333;
}

a {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

#navbarToggler a:hover {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid currentColor;
  color: #FCAE15;
}

#navbarToggler a.active {
  font-size: 18px;
  font-weight: bold;
  color: #FCA61E;
  border-bottom: 2px solid currentColor;

}

.navbar-collapse-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.9);
  transition: 0.3s;
}

.navbar-collapse-mobile ul {
  display: block;
  position: absolute;
  top: 80px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-collapse-mobile .mobile-nav-toggle {
  position: absolute;
  top: 45px;
  right: 25px;
}

.navbar-collapse-mobile a.active{
  border-bottom: unset !important;
  background: #494949 !important;
  padding: 8px 20px !important;
  margin-left: 10px !important;
  margin-right: 25px !important;
  margin-top: 10px !important;
  border-radius: 4px !important;
  color: #fff !important;
}

.navbar-collapse-mobile a{
  border-bottom: unset !important;
  padding: 8px 20px !important;
  margin-left: 10px !important;
  margin-right: 25px !important;
  margin-top: 10px !important;
  border-radius: 4px !important;
  color: #333333 !important;
}

// .custom-toggler .navbar-toggler-icon {
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
// }

// .custom-toggler.navbar-toggler {
//   border-color: rgb(219, 219, 219);
// }


@media (min-width: 300px) {
  .nav-bg {
    transition: all 0.5s;
    background-color: transparent;
    padding: 25px 0 !important;
    height: 90px;
  }

  .navbar-scrolled {
    background-color: #ffffff !important;
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
    padding: 15px 0 !important;
    height: 80px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .nav-bg {
    transition: all 0.5s;
    background-color: transparent;
    padding: 50px 0 !important;
  }

  .navbar-scrolled {
    background-color: #ffffff !important;
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
    padding: 45px 0 !important;
  }

}
